html
    head
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="style-other.css")
    body
        |tebrikler :D

        p   paragraf alan覺m覺n rengi farkl覺 olmal覺

