extends layout.pug

block iletisim
    | layoutta tanımladığım iletişim bloğunu ezdim :D


    // eğer bir bloğu ezmeden üzerine ekleme yapmak istersen aşağıdaki şekilde kullanman gerekiyor ama ezeceksen appendi
    // kaldırman yeterli

block append stylesheet
    link(href="iletisim.css")
